@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background-image: url("../images/bear.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-family: "Azeret Mono", monospace;
}

.header-text {
    max-width: 25%;
}

main {
    margin-top: 75vh;
    padding-top: 20px;
    padding-left: 25%;
    padding-right: 25%;
}

nav {
    background-color: rgba(37, 40, 43, 0.6);
    padding: 5px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Azeret Mono", monospace;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}
